spring:
  datasource:
    url: jdbc:mysql://localhost:3306/medicinal_plant_db?createDatabaseIfNotExist=true
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: ${DB_USERNAME:root}
    password: ${DB_PASSWORD:password}

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false

logging:
  level:
    '[com.medicinal.plant]': INFO
